@model Trip.Models.SequenceDisp

@{
  ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  <h4>Sequence</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Region.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Region.Name)
    </dd>
  </dl>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Activity</th>
      <th>From</th>
      <th>To</th>
      <th>Type</th>
      <th>Distance</th>
      <th>Duration</th>
      <th></th>
    </tr>

    @foreach (var item in Model.SelectedActivities)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Seqnr)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Activity.Name)
        </td>
        @if (item.Reverted)
        {
          <td>
            @Html.DisplayFor(modelItem => item.Dest2.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Dest1.Name)
          </td>
        }
        else
        {
          <td>
            @Html.DisplayFor(modelItem => item.Dest1.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Dest2.Name)
          </td>
        }
        <td>
          @Html.DisplayFor(modelItem => item.Activity.Type)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Activity.Distance)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Activity.Duration)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Activity.ActivityID }) |
          @Html.ActionLink("Details", "Details", new { id = item.Activity.ActivityID })
        </td>
      </tr>
    }
  </table>

</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.SequenceID }) |
  @Html.ActionLink("Back to List", "Index")
</p>

