@model Trip.Models.SequenceDisp

@{
  ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <div class="form-horizontal">
    <h4>Sequence</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SequenceID)

    <div class="form-group">
      @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.RegionID, "RegionID", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownList("RegionID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RegionID, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.SelectedActivities, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <table class="table">
          <tr>
            <th>#</th>
            <th>Activity</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Distance</th>
            <th>Duration</th>
            <th></th>
          </tr>
          @foreach (var item in Model.SelectedActivities)
          {
            <tr>
              <td>
                @Html.DisplayFor(m => item.Seqnr)
              </td>
              <td>
                @Html.DisplayFor(m => item.Activity.Name)
              </td>
              @if (item.Reverted)
              {
                <td>
                  @Html.DisplayFor(modelItem => item.Dest2.Name)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Dest1.Name)
                </td>
              }
              else
              {
                <td>
                  @Html.DisplayFor(modelItem => item.Dest1.Name)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Dest2.Name)
                </td>
              }
              <td>
                @Html.DisplayFor(modelItem => item.Activity.Type)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Activity.Distance)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Activity.Duration)
              </td>
              <td>
                @if (Model.SelectedActivities.Count() == 1)
                {
                  @Html.ActionLink("Revert this Activity", "Revert", new { id = Model.SequenceID, Seqnr = item.Seqnr })
                  <br />
                }
                @Html.ActionLink("Remove this and all further Activities", "Remove", new { id = Model.SequenceID, Seqnr = item.Seqnr })
              </td>
            </tr>
          }
        </table>
      </div>
    </div>

    <div class="form-group">
      @Html.Label("Available Activities:", htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">


        <table class="table">
          <tr>
            <th>Activity</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Distance</th>
            <th>Duration</th>
            <th></th>
          </tr>

          @foreach (var item in Model.AvailableActivities)
          {
            <tr>
              <td>
                @Html.DisplayFor(m => item.Activity.Name)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Dest1.Name)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Dest2.Name)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Activity.Type)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Activity.Distance)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Activity.Duration)
              </td>
              <td>
                @Html.ActionLink("Append this Activity", "Append", new { id = Model.SequenceID, Activity = item.Id })
              </td>
            </tr>
          }
        </table>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
      </div>
    </div>
  </div>
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
