@model Trip.Models.ActivityDisp

@{
  ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
  <h4>Activity</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Type)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Type)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Dest1.Name)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Dest1.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Dest2.Name)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Dest2.Name)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Distance)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Distance)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Duration)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Duration)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.ExperienceRating)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.ExperienceRating)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.TechnicalRating)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.TechnicalRating)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.EnduranceRating)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.EnduranceRating)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.ElusiveRating)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.ElusiveRating)
    </dd>

    <dt>
      @Html.DisplayNameFor(model => model.Reversible)
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Reversible)
    </dd>
  </dl>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityID }) |
  @Html.ActionLink("Back to List", "Index")
</p>
